[Unit]
Description=App service with docker
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec app stop
ExecStartPre=-/usr/bin/docker rm app
ExecStart=/usr/bin/docker run --rm --name app \
    -p 8080:8080 \
    {{ image }}

[Install]
WantedBy=default.target
